<nav class="navbar navbar-expand-lg fixed-top">
    <a class="navbar-brand" href="#">Дари Храна</a>
    <button class="navbar-toggler" type="button" (click)="toggleSidebar()">
        <i class="fa fa-bars text-muted" aria-hidden="true"></i>
    </button>
    <div class="collapse navbar-collapse">
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="{{ 'Search' | translate }}" >
        </form>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown" ngbDropdown>
                
                <a class="nav-link" href="javascript:void(0)" (click)="onLoadNotifcations()" ngbDropdownToggle>
                    <i class="fa fa-envelope"></i> <b class="caret"></b><span class="sr-only">(current)</span>
                     <span class="badge badge-info" *ngIf="count > 0">{{count}}</span>
                </a>
                <ul class="dropdown-menu-right messages" ngbDropdownMenu>
                    <li class="media" *ngIf="!notifications || notifications.length == 0"> Нямате непрочетени съобщения</li>
                    <li class="media" *ngFor="let notification of notifications; index as i;" (click)="onElementClick(notification)">                       
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">{{userName}}</h5>
                            <p class="small text-muted">                                
                                <i class="fa fa-clock-o"></i>{{notification.dateCreated | date:'short'}}</p>
                            <p class="last">
                                {{getText(notification)}}
                                <span *ngIf="notification.messageType === 2 || notification.messageType === 3">
                                    <button class="btn btn-success" (click)="onApprove(notification)">Да</button>
                                    <button class="btn btn-danger" (click)="onReject(notification)">Не</button>
                                </span>
                            </p>
                        </div>
                    </li>
                   
                    <li class="dropdown-divider"></li>
                    <a href="javascript:void(0)" class="dropdown-item" routerLink='/notifications'>
                        {{ 'Виж всички'  }}
                    </a>
                </ul>
              
            </li>           
            <li class="nav-item dropdown" ngbDropdown>
                <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
                    <i class="fa fa-user"></i> {{userName}}<b class="caret"></b>
                </a>
                <div class="dropdown-menu-right" ngbDropdownMenu>
                    <a class="dropdown-item" href="javascript:void(0)" (click)="onGoToProfile()">
                        <i class="fa fa-fw fa-user"></i> {{ 'Профил' | translate }}
                    </a>
                    <a class="dropdown-item"  (click)="onLoggedout()">
                        <i class="fa fa-fw fa-power-off"></i> {{ 'Изход' | translate }}
                    </a>
                </div>
            </li>
        </ul>
    </div>
</nav>
