<div [@routerTransition]>
    <app-page-header [heading]="" [icon]="'fa-table'"></app-page-header>
    <div class="row">
        <div class="col col-lg-12">  
              <div class="card mb-12">
                <div class="card-header">{{tableTitle}}</div>
                <table class="card-body table table-hover">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Име</th>
                        <th>Емайл</th>
                        <th>Описание</th>
                        <th *ngIf="isAdmin()">Статус</th>
                        <th *ngIf="!isAdmin()">Действие</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let user of users; index as i;" (click)="onElementClick(user)">
                        <th scope="row">{{i}}</th>
                        <td>{{user.name}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.description}}</td>
                        <td *ngIf="isAdmin()">{{getStatus(user)}}</td> 
                        <td *ngIf="isGiver()"><button type="button" class="btn btn-success" (click)="onRequestApprovalToGive(user)">Дари храна</button></td>    
                        <td *ngIf="isTaker()"><button type="button" class="btn btn-success" (click)="onRequestApprovalToTake(user)">Получи храна</button></td>                 
                    </tr>                   
                    </tbody>
                </table>
            </div>            
        </div>
    </div>
</div>
