<div class="card-body">
    <ul class="timeline">
        <li>
            <div class="timeline-badge"><i class="fa fa-check"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Здравейте!</h4>
                    <p><small class="text-muted"><i class="fa fa-clock-o"></i>Преди 10 часа</small>
                    </p>
                </div>
                <div class="timeline-body">
                    <p>10 тона храна беше дарена от верига магазини Кауфланд днес. Те предоставят консерви, колбаси и пресни плоодове и зеленчуци на нуждаещите се!</p>
                </div>
            </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-badge warning"><i class="fa fa-credit-card"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Здравейте!</h4>
                </div>
                <div class="timeline-body">
                    <p>Днес бяха разпределени 1 тон храна на топла кухня за нуждаещи се в столицата</p>
                    <p>Храната ще стигне да нахрани 1000 нуждаещи се с топла вечеря и обяд.</p>
                    <p>Благодарим ви.</p>
                </div>
            </div>
        </li>        
    </ul>
</div>
