 <form ng-submit="">
    <div class="form-content" >
        <div class="form-group">
            <input type="text" class="form-control input-underline input-lg" placeholder="Име">
        </div>
        <div class="form-group">
            <input type="text" class="form-control input-underline input-lg" placeholder="Фамилия">
        </div>
        <div class="form-group">
            <input type="text" class="form-control input-underline input-lg" placeholder="Емайл" ng-disabled>
        </div>       
    </div>
    <button class="submit">Запази</button>&nbsp;    
</form>

<input type="file" name="photo" ng2FileSelect [uploader]="uploader" />
<button type="button" class="btn btn-success btn-s" (click)="uploader.uploadAll()" 
  [disabled]="!uploader.getNotUploadedItems().length" >
      Качи документ за одобрение
</button>
