<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="assets/images/logo.png" width="150px" class="user-avatar" />
            <h1>Дари храна</h1>
            <br/>
            <p>
                Дари храна е приложение, което свързва желаещите да дарят храна с тези, които имат нужда от нея.
                Вие сте верига супер маркет, ресторант или просто човек с излишна храна? Вие сте неправителствена организация, 
                която набира средства и търси храна и продукти за нуждаещи се или благотворителна кухня, която има нужда от продукти.
                Направете своя профил при нас и се свържете с хора, които могат да ви помогнат още сега!     
            </p>
            <br />
            <form role="form">
                <a class="btn rounded-btn" [routerLink]="['/profile']" (click)="onLoggedin()">Вход</a>
                &nbsp;
                <a class="btn rounded-btn" [routerLink]="['/signup']">Регистрация</a>
            </form>
        </div>
    </div>
</div>
